<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532157641761-f66p31l1tf08osk0m853shf40ra3hu9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532157641761-f66p31l1tf08osk0m853shf40ra3hu9o</string>
	<key>API_KEY</key>
	<string>AIzaSyAW0Dfc3iWWl3vVBppXZe04u9LHskbVLiY</string>
	<key>GCM_SENDER_ID</key>
	<string>532157641761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localAdView</string>
	<key>PROJECT_ID</key>
	<string>local-ad-view</string>
	<key>STORAGE_BUCKET</key>
	<string>local-ad-view.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532157641761:ios:1f478270caae77d3515f60</string>
</dict>
</plist>